* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.foods-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.input {
  width: 40vw;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-form input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-form button {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(75, 124, 231);
  border: none;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.add-form button:hover {
  opacity: 0.8;
}

.btn {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgb(75, 124, 231);
  border: none;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  opacity: 0.8;
}
